.main {
    margin: 2rem;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-welcome {
    font-size: 3rem;
    font-weight: 500;
    margin: 0px 0px;
}

.main-welcome-wrapper {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 0.8rem;
    color: #fff;
    
}

.main-welcome-wrapper h3 {
    color: #9aa0a6;
}

.main-weather {
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 18px;
}

.main-weather-title {
    color: #9aa0a6;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.main-weather-title p {
    margin: 0px;
}

.main-weather-title a {
    color: #8bb8f8;
    font-size: 1rem;
}

.main-weather-title a:hover {
    text-decoration: underline;
}

.main-weather-wrapper {
    margin-top: 5px;
    display: flex;
    gap: 1rem;
    /* text-align: center; */
}

.main-weather-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-weather-date {
    margin: 5px 0px;
    font-size: 0.8rem;
}

.main-weather-item img {
    width: 45px;
}

.main-weather-temp {
    margin: 5px 0px;
    font-size: .8rem;
}

.main-weather-temp span {
    font-weight: 300;
    color: #9aa0a6;
}

/* !fuck my head hurts */

.main-stories {
    background-color: #1f1f1f;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 18px;
}

.main-stories h2 {
    margin: .5rem 0px;
    font-size: 1.5rem;
}

.main-top-stories {
   display: grid;
   grid-template-columns: calc(100% / 3 ) calc(100% / 3) calc(100% / 3);
}

.main-top-stories article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.main-article-thumb {
    aspect-ratio: 16 / 9;
    width: 390px;
    border-radius: 18px;
    margin-bottom: 5px;
}

.main-top-stories article h4 {
    border-bottom: 1px solid #5e5e5e;
}

.main-top-stories article h3,h4 {
    margin: 5px 0px;
}

.main-top-stories article p {
    margin: 5px 0px;
    color: #9aa0a6;
}